h1 {
  font-size: 3em;
  margin: 1.3rem;
  color: #08bf94ff;
}
button {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  border: 0;
  background-color: #08bf94ff;
  color: white;
  cursor: pointer;
}
