.buttonsBlock {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 30rem;
  margin: 3rem auto;
}
.btnAction {
  width: 3rem;
  height: 3rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #f1f4d8;
  transition: transform 0.3s;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
.btnAction:hover {
  background-color: #f0f5bf;
  color: red;
}
.btnAction:active {
  transform: scale(1.2);
}
.RiDeleteBin2Line,
.RiRefreshLine {
  font-size: 1.2em;
}
.RiDeleteBin2Line:hover,
.RiRefreshLine:hover {
  color: red;
}
