.todoList {
  list-style: none;
  margin-top: 3rem;
}

.todoList li {
  display: flex;
  align-items: center;
  width: 30rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: #f8fef5;
  text-align: left;
  margin: 1rem auto;
}
.RiTodoFill {
  vertical-align: text-bottom;
  color: teal;
  margin-right: 5px;
  font-size: 1.7rem;
}
.text {
  width: 100%;
}
.RiDeleteBin2Line,
.FaCheck {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s;
}
.FaCheck {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.FaCheck:hover {
  color: green;
  transform: scale(1.3);
}
.RiDeleteBin2Line:hover {
  color: red;
  transform: scale(1.3);
}
.done {
  color: grey;
  border: 2px solid grey !important;
  background-color: unset !important;
}
.todoList .done .RiTodoFill,
.todoList .done .RiDeleteBin2Line,
.todoList .done .FaCheck {
  color: gray;
}
