.App {
  text-align: center;
}
h1,
h2 {
  font-size: 3em;
  margin: 1.3rem;
  color: #08bf94ff;
}
.coursesNotfound {
  margin-top: 3rem;
  color: yellow;
  font-size: 1.5em;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
button {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  border: 0;
  background-color: #08bf94ff;
  color: white;
  cursor: pointer;
  margin: 1rem;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: rgb(15, 115, 148);
}
.active {
  color: yellow;
  font-style: italic;
}
ul {
  list-style: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
}
li {
  margin-bottom: 0.7rem;
}
article {
  margin-top: 3rem;
  color: yellow;
}
