.App {
  text-align: center;
}
h1,
h2 {
  font-size: 3em;
  margin: 1.3rem;
  color: #08bf94ff;
}
h3 {
  margin-bottom: 0.7rem;
}
h3 a {
  color: white;
  text-decoration: none;
}
button {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  border: 0;
  background-color: #08bf94ff;
  color: white;
  cursor: pointer;
  margin: 1rem;
}
