.post:nth-child(odd) > * {
  color: rgb(59, 142, 59);
}
.post:nth-child(even) > * {
  color: goldenrod;
}
.post {
  max-width: 50%;
  min-height: 50%;
  margin: 2rem auto;
  /* border: 2px solid rgb(154, 205, 50); */
  box-shadow: 0 -0.7rem 0.34rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}
